h1, h2, h3, h4, p, a, li{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}


h1{
    
}
.block-1{
    border: 1px solid black;
    padding: 1rem 0;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid;
    border-radius: 5px;
    margin-top: 2rem;
    max-width:90%;
}

.card img{
    max-width: 150px;
    max-height: 150px;
    border-radius: 50%;
}

.card-box{
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 auto;
}